@model samsung.Rh.Employee.Domain.Entities.ListaProdutos

 <div class="form-inline">
     <div class="form-group">
         @Html.TextBoxFor(x=>x.Nome,new { @class = "form-control" })
     </div>
 </div>