body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
    text-align: center;
    display: inline-block
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
.container-principal {
    width: 90%;
    margin-left: 5%;
    margin:2%;
}

.container-left {
    width: 20%;
    display: inline-block;
    float: left;
    position: relative;
    background-color: #DCDCDC;
    padding-top:2%;
    padding-left:5%;
    min-height:30vw;
    border-radius:2px
}

.container-right {
    width: 70%;
    display: inline-block;
    float: right;
}
